# Dependency directories
/vendor/

# IDE/editor specific files
/.idea/       # PHPStorm
/.vscode/     # Visual Studio Code
/.vs
/.storage/

# Log files
*.log

# System files
.DS_Store      # macOS
Thumbs.db      # Windows

# Temporary files
*.tmp
*.cache
