# Dependency directories
/vendor/

# IDE/editor specific files
/.idea/       # PHPStorm
/.vscode/     # Visual Studio Code
/.vs

# Ignore all files in storage/logs and storage/sessions directories
storage/logs/*
storage/sessions/*

# But keep the directories
!storage/logs/
!storage/sessions/

# Log files
*.log

# System files
.DS_Store      # macOS
Thumbs.db      # Windows

# Temporary files
*.tmp
*.cache
